title: ER Seamless Coop
description: Resources for the Elden Ring Seamless Coop mod.

theme: just-the-docs

permalink: pretty

color_scheme: dark

aux_links:
  "Seamless Co-op mod on Nexus":
    - "https://www.nexusmods.com/eldenring/mods/510"

aux_links_new_tab: true

back_to_top: true
back_to_top_text: "Back to top"

footer_content: "awoo!"

# last_edit_timestamp: true 
# last_edit_time_format: "%b %e %Y at %I:%M %p"

plugins:  
  - jekyll-redirect-from

exclude:
   - .sass-cache/
   - .jekyll-cache/
   - gemfiles/
   - Gemfile
   - Gemfile.lock
   - node_modules/
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
 
   - bin/
   - lib/
   - "*.gemspec"
   - "*.gem"
   - LICENSE.txt
   - package.json
   - package-lock.json
   - Rakefile
   - README.md
   - CODE_OF_CONDUCT.md
   - docker-compose.yml
   - Dockerfile
 
   - fixtures/